*{
	padding:0;
	margin: 0;
}
.bigger{
	width: 1920px;
	height: 1820px;
	background: #ffffff;
	border: 1px red solid;
	margin: 0 auto;
	font-family: microsoft yahei;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}
.top{
	width: 1920px;
	height: 200px;
	background:#fafafa;
}
.top01{
	float: left;
	width: 1920px;
	height: 200px;
	background: url(./公司新闻/xw2.png) no-repeat;
}
.top1{
	margin-left: 254px;
	margin-top: 46px;
	width: 200px;
	height: 55px;
	float: left;
	background:url(./公司新闻/logo1.png) no-repeat;
}
.top2{
	width: 665px;
	height: 60px;
	border-bottom: 3px #9e9b9a solid;
	float: left;
	margin-top: 50px;
	margin-left: 470px;
}
.top4{
	line-height: 80px;
	font-weight: bold;
	font-size: 20px;
	float: left;
	width: 110px;
	height: 60px;
	border-bottom: 3px #cb545c solid;
}
.top41{
	margin-left: 16px;
}
.top3{
	float: left;
	line-height: 80px;
	font-weight: bold;
	font-size: 20px;
	float: left;
	width: 110px;
	height: 60px;
}
.top5{
	margin-top: 26px;
	float: left;
	width: 1920px;
	height: 60px;
	background: #7e7f80;
}
.top51{
	color: #cececf;
	font-weight: bold;
	font-size: 15px;
	margin-left: 315px;
	line-height: 60px;
}
.one{
	margin-left: 276px;
	margin-top: 25px;
	float: left;
	width: 1370px;
	height:365px;
}
.one1{
	float: left;
	width: 1370px;
	height: 270px;
	background:#f9f9f9; 
}
.one11{
	float: left;
	width: 435px;
	height: 265px;
	background: url(./img2/2.png) no-repeat;
}
.one12{
	float: left;
	width: 930px;
	height: 265px;
	background:#f9f9f9; 
}
.one2{
	margin-top: 25px;
	width: 312px;
	height: 25px;
	float: right;
	margin-right: 60px;
}
.zi1{
	line-height: 25px;
	font-size: 16px; 
	color:#c4c3c3;
}
.zi2{
	position: relative;
	top: -2px;
	line-height: 28px;
	color: #ec535f;
	font-size: 24px;
	font-weight: bold;
}
.zi3{
	line-height: 28px;
	font-size: 24px;
	color: #7c7c7c;
}
.one3{
	margin-top: 62px;
	margin-left: 52px;
	width: 20px;
	height: 18px;
	float: left;
	background: url(./img2/t.png) no-repeat;
}
.one4{
	margin-left: 15px;
	margin-top: 40px;
	float: left;
	width: 750px;
	height: 134px;
}
.zi4{
	font-size: 14px;
	color: #cfcfcf;
}
.one5{
	margin-right: 30px;
	margin-top: 180px;
	width: 20px;
	height: 18px;
	float: right;
	background: url(./img2/b.png) no-repeat;
}
.two{
	width: 1292px;
	height: 355px;
	float: left;
	margin-left: 276px;
}
.two1{
	width: 860px;
	height: 270px;
	float: left;
}
.two0{
	float: left;
}
.two2{
	width: 430px;
	height: 270px;
	float: left;
	background: url(./img2/3.png) no-repeat; 
}
.two11{
	width: 300px;
	height: 35px;
	float: left;
}
.two12{
	position: relative;
	left: -240px;
	top: 65px;
	width: 20px;
	height: 18px;
	float: left;
	background: url(./img2/t.png) no-repeat;
}
.two13{
	margin-left: 95px;
	margin-top: 60px;
	width: 720px;
	height: 110px;
	float: left;
}
.two14{
	position: relative;
	top: 190px;
	width: 20px;
	height: 18px;
	float: left;
	background: url(./img2/b.png) no-repeat;
}
.three{
	margin-left: 276px;
	float: left;
	width: 1370px;
	height:365px;
}
.one31{
	float: left;
	width: 435px;
	height: 265px;
	background: url(./img2/4.png) no-repeat;
}
.four{
	width: 1920px;
	height: 355px;
	float: left;
	border-bottom: 3px #f3f2f2 solid; 
}
.four2{
	width: 430px;
	height: 270px;
	float: left;
	background: url(./img2/5.png) no-repeat; 
}
.last0{
	float: left;
	width: 1920px;
	height: 160px;
}
.last1{
	float: left;
	width: 384px;
	height:60px;
	border-right: 4px #c8402c solid;
	margin-top: 44px;
}
.last11{
	margin-top: 8px;
	margin-right: 40px;
	float:right;
	width: 205px;
	height: 54px;
	background: url(./全盛首页/下LOGO.png) no-repeat;
}
.last2{
	margin-right: 50px;
	float: right;
	width: 650px;
	height: 100px;
}
.last21{
	margin-top: 36px;
	width: 550px;
	height: 70px;
	float: left;
}
.last22{
	margin-top: 36px;
	margin-right: 20px;
	float: right;
	width: 70px;
	height: 70px;
	background: url(./全盛首页/二维码.png) no-repeat;;
}
.last3 {
	font-size: 19px;
	line-height: 24px;
	color: #c0c1c1;
	text-align: right;
	text-decoration: none;
}
.last3 a{
	text-decoration: none;
	color: #c2c3c4;
}
.last4{
	font-size: 19px;
	line-height: 24px;
	color: #c2c3c4;
	text-align: right;
}
.last5{
	font-size: 19px;
	line-height: 24px;
	color: #c2c3c4;
	text-align: right;
}